body{
    background-color: rgb(238, 123, 161);
    text-align: center;
}
h1{
    text-decoration: underline;
}
form, #response-display{
    display:inline-block;
    width: 50%;
    background-color: rgb(126, 126, 255);
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#start-survey-form{
    background-color:inherit;
    border:none;
}
form > *{
    text-align: left;
}
button{
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
}
button:hover{
    box-shadow: 2px 2px 2px;
}
button:active{
    box-shadow: inset 2px 2px 2px;
}

.bold-question{
    font-weight: bold;
    text-decoration-line: underline;
}